.box-layout {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-layout__box {
    text-shadow: (1px 1px 3px $blue-shadow);
    text-align: center;
    padding: $l-size $m-size;
    position: relative;
    z-index: 3;
    width: 400px;
    color: white;
}

.box-layout__title {
    margin: 0 0 $l-size 0;
    line-height: 1;
    font-family: $highlight-font;
    font-weight: 500;
    font-size: $xl-size;
}

.box-layout__description {
    font-family: $main-font;
    letter-spacing: 1px;
}
