.boxy__container {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    transform: all 0.3s ease-in;
    flex-grow: 1;
    height: 85.7vh;
    overflow: hidden;
    > * {
        flex-basis: 150px;
        height: 20vh;
        flex-grow: 1;
        box-shadow: 0px 0px 4px $dark-blue;
        margin: 2px;
        border-radius: 3px;
        opacity: .8;
    }
    @media (max-width: $mobile-breakpoint) {
        > * {
            flex-basis: 75px;
            height: 75px;
            flex-grow: 1;
        }
    }
}
