.button {
    padding: 8.5px 20px;
    cursor: pointer;
    background: $light-blue;
    color: white;
    letter-spacing: 1px;
    text-shadow: 0px 0px 3px $blue-shadow;
    position: relative;
    margin: 0px 5px;
}

.button_two:focus{
    outline: none;
}

.button--logon:hover{
    letter-spacing: 1.5px;
}

.button--logon:focus {
    outline: none;
}

.button_two {
    padding: 12px 24px;
    cursor: pointer;
    background: $light-blue;
    color: white;
    position: relative;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px $light-blue-shadow;
    font-family: $main-font;
    display: inline-block;
    border: none;
}

.button_two:hover {
    box-shadow: 0px 3px $light-blue-shadow;
    top: 1px;
}

.button_two:active {
    box-shadow: 0px 0px $light-blue-shadow;
    top: 4.5px;
}

.button--logon {
    transition: all 0.15s ease-in-out;
}

.button--logout {
    background: none;
    border: none;
    text-shadow: none;
    font-size: 20px;
    transition: all .5s ease-in-out;
}

.button--logout:hover {
    border-bottom: 1px solid white;
}

.button--submit {
    @extend .button_two;
    border: none;
}

.button--submit:focus {
    outline: none;
}

.button_three {
    padding: 12px 24px;
    cursor: pointer;
    background: $light-red;
    color: white;
    position: relative;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px $light-red-shadow;
    font-family: $main-font;
    display: inline-block;
    border: none;
}

.button_three:hover {
    box-shadow: 0px 3px $light-red-shadow;
    top: 1px;
}

.button_three:active {
    box-shadow: 0px 0px $light-red-shadow;
    top: 4.5px;
}

.button_three:focus {
    outline: none;
}