.form {
    display: flex;
    flex-direction: column;
    > *, *:focus {
        margin-bottom: $m-size;
        outline: none;
    }

}




.form__sub {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
}

.form__error {
    font-style: italic;
    margin-top: 0px;
}