.home {
    height: 36vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 0;
    z-index: 9;
}

.home__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $light-blue;
    width: 40vw;
    height: 35vh;
}

.home__title {
    font-family: $main-font;
    font-weight: 300;
    font-size: 34px;

}
