.portfolio__container {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: space-evenly;
    margin-top: $m-size;
    align-items: center;
    z-index: -1;
    @media(max-width: $tablet-breakpoint) {
        flex-direction: column;
        position: relative;
    }
}

.project-card__box {
    height: 350px;
    width: 300px;
    box-shadow: 0px 0px 8px $dark-blue;
    border-radius: 15px;
    transition: all .2s ease-in;
    margin: $m-size 0;

}

.project-card__box:hover {
    transform: scale(1.1);
    & .project-card__photo {
        opacity: .6;
    }
}

.project-card__title {
    margin: $m-size $s-size;
    padding: $m-size $s-size;
    position: absolute;
    font-size: 30px;
    top: 0;
    left: 0;
    z-index: 1;
    color: white;
    text-shadow: 1px 1px 4px $dark-blue;
    
}

.project-card__description {
    padding: $m-size $s-size;
}

.project-card__top {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    height: 200px;
    width: 300px;
}

.photo__container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: $light-blue;
    border-radius: 15px;
    box-shadow: 0px 0px 8px black;
}

.project-card__photo {
    border-radius: 15px 15px 0px 0px;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    background-size: cover;
    margin: 0;
    padding: 0;
    transition: all .2s ease-in;
}

.project-card__icons {
    display: flex;
    justify-content: space-evenly;
    margin: 0 $m-size $s-size $m-size;
    padding: 0 $m-size $s-size $m-size;
    font-size: 40px;
    > * {
        color: black;
    }
}

.project-card__footer {
    margin: 0;
}

.project-card__description {
    margin: 0 $m-size $s-size $m-size;
    padding: $l-size $s-size 0px $s-size;
}

.carousel__container {
    display: flex;
    justify-content: space-between;
}

.carousel--slide {
}