// Place to set global style variables
// Colors
$dark-grey: #333333;
$dark-blue: #043e69;
$light-blue: rgb(17, 155, 201);
$light-red: rgb(230, 60, 70);
$off-white: #f7f7f7;
$grey: #666;

// $dark-blue: #1f4867;

// Shadows
$blue-shadow: darken($dark-blue, 30%);
$light-blue-shadow: darken($light-blue, 5%);
$light-red-shadow: darken($light-red, 10%);

// Sizing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 4.0rem;
$xl-size: 6.4rem;

// Fonts
$highlight-font: 'Permanent Marker', cursive;
$main-font: 'Prompt', sans-serif;

// Breakpoints
$desktop-breakpoint: 1200px;
$tablet-breakpoint: 900px;
$mobile-breakpoint: 600px;